<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h2 class="text-primary fw-bold">Boletín de Notas</h2>
      <h4 class="text-dark">{{ nombreEstudiante }}</h4>
    </div>
    <div class="d-flex gap-2">
      <button class="btn btn-danger" (click)="descargarPDF()" [disabled]="descargando">
        @if (descargando) {
          <span class="spinner-border spinner-border-sm me-2"></span> Generando...
        } @else {
          <i class="bi bi-file-earmark-pdf-fill me-2"></i> Descargar PDF
        }
      </button>
    <a routerLink="/dashboard" class="btn btn-outline-secondary">
      <i class="bi bi-arrow-left"></i> Volver
    </a>
    </div>
  </div>

  @if (loading) {
    <div class="text-center py-5">
      <div class="spinner-border text-primary" role="status"></div>
    </div>
  }

  @if (!loading && calificaciones.length === 0) {
    <div class="alert alert-info shadow-sm">
      <i class="bi bi-info-circle-fill me-2"></i>
      Este estudiante aún no tiene calificaciones registradas.
    </div>
  }

  @if (!loading && calificaciones.length > 0) {
    <div class="card shadow border-0">
      <div class="card-body p-0">
        <table class="table table-striped table-hover mb-0">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col" class="ps-4">Actividad</th>
              <th scope="col">Trimestre</th>
              <th scope="col" class="text-center">Ponderación</th>
              <th scope="col" class="text-center">Nota</th>
              <th scope="col">Observación</th>
            </tr>
          </thead>
          <div class="card mb-4 border-primary">
    <div class="card-header bg-primary text-white">
      <i class="bi bi-pencil-square me-2"></i> Asignar o Editar Calificación
    </div>
    <div class="card-body">
      <!-- Formulario para asignar o editar calificación -->
       <form (ngSubmit)="guardarNota()" class="row g-3 align-items-end">
        
        <div class="col-md-3">
          <label class="form-label">Materia</label>
          <select class="form-select" [(ngModel)]="materiaIDSeleccionada" (change)="onFiltroChange()" name="materia">
            <option [value]="0">-- Seleccionar --</option>
            @for (mat of materias; track mat.id) {
              <option [value]="mat.id">{{ mat.nombre }}</option>
            }
          </select>
        </div>

        <div class="col-md-3">
          <label class="form-label">Trimestre</label>
          <select class="form-select" [(ngModel)]="trimestreIDSeleccionado" (change)="onFiltroChange()" name="trimestre">
            <option [value]="0">-- Seleccionar --</option>
            @for (tri of trimestres; track tri.id) {
              <option [value]="tri.id">{{ tri.nombre }}</option>
            }
          </select>
        </div>

        <div class="col-md-3">
          <label class="form-label">Actividad</label>
          <select class="form-select" 
                  [(ngModel)]="nuevaCalificacion.actividadId" 
                  name="actividadId" 
                  [disabled]="actividades.length === 0" 
                  required>
            <option [value]="0">-- Elegir Actividad --</option>
            @for (act of actividades; track act.id) {
              <option [value]="act.id">
                {{ act.nombre }} ({{ act.porcentaje }}%)
              </option>
            }
          </select>
        </div>

        <div class="col-md-3">
          <label class="form-label">Nota</label>
          <input type="number" class="form-control" [(ngModel)]="nuevaCalificacion.nota" name="nota" step="0.01" max="10" min="0" placeholder="0 - 10" required>
        </div>

        <div class="col-md-9">
          <label class="form-label">Observación</label>
          <input type="text" class="form-control" [(ngModel)]="nuevaCalificacion.observacion" name="observacion" placeholder="Comentarios sobre el desempeño...">
        </div>

        <div class="col-md-3">
          <button type="submit" class="btn btn-success w-100" 
                  [disabled]="procesando || nuevaCalificacion.actividadId === 0">
            @if (procesando) {
              <span class="spinner-border spinner-border-sm"></span>
            } @else {
              Guardar Nota
            }
          </button>
        </div>
      </form>
    </div>

  </div>
          <tbody>
            @for (cal of calificaciones; track cal.id) {
              <tr>
                <td class="ps-4 fw-semibold">{{ cal.actividad.nombre }}</td>
                <td>
                  <span class="badge bg-light text-dark border">
                    {{ cal.actividad.trimestre.nombre }}
                  </span>
                </td>
                <td class="text-center text-muted">
                  {{ cal.actividad.ponderacion /100 | percent }}
                </td>
                <td class="text-center">
                  @if (cal.nota < 7) {
                    <span class="badge bg-danger fs-6">{{ cal.nota }}</span>
                  } @else {
                    <span class="badge bg-success fs-6">{{ cal.nota }}</span>
                  }
                </td>
                <td class="text-muted small fst-italic">
                  {{ cal.observacion || '-' }}
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }

</div>